* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
}

[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin: 0;
}

@-webkit-keyframes nextSlider {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes nextSlider {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes prevSlider {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes prevSlider {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}


.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}

.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


.navbar {
  background-color: #007cc0;
  height: 50px;
}

#navbarResponsive ul {
  height: 50px;
}

.nav-link p {
  color: white;
  text-align: center;
  font-size: 1.7rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.nav-link p i {
  margin-left: 7px;
}

.active, .nav-item:hover .nav-link p {
  color: #00446B;
}

.navbar-toggler-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 3rem;
  color: white;
  margin-right: 10px;
}

#shopping-submenu {
  width: 850px;
  height: 260px;
  position: absolute;
  left: -200px;
  top: 49px;
}

#shopping-submenu .shopping_item {
  width: 100%;
  height: 170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 30px 0 20px 0;
}

#shopping-submenu .shopping_item li {
  display: inline;
  list-style: none;
}

#shopping-submenu .shopping_item li:hover a {
  color: #007CC0;
}

#shopping-submenu .shopping_item li a {
  text-decoration: none;
  color: #00324f;
}

#shopping-submenu .shopping_item li a i {
  font-size: 6rem;
}

#shopping-submenu .shopping_item li a h5 {
  margin-top: 20px;
  font-size: 1.5rem;
}

#shopping-submenu .shopping_item .separator {
  background-color: #929292;
  height: 90px;
  width: 1px;
}

#shopping-submenu .shopping_text {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 30px 0 20px 0;
  border-top: 2px solid #929292;
}

#shopping-submenu .shopping_text li {
  display: inline;
  list-style: none;
}

#shopping-submenu .shopping_text li a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #007CC0;
}

#shopping-submenu .shopping_text li a i {
  margin-left: 7px;
}

#owner-submenu {
  width: 560px;
  height: 280px;
  position: absolute;
  left: -100px;
  top: 49px;
}

#owner-submenu .container {
  padding: 20px 20px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

#owner-submenu .container .owner_list_1, #owner-submenu .container .owner_list_2 {
  height: 100%;
}

#owner-submenu .container .owner_list_1 li, #owner-submenu .container .owner_list_2 li {
  list-style: none;
  padding: 10px 0 10px 0;
}

#owner-submenu .container .owner_list_1 li a, #owner-submenu .container .owner_list_2 li a {
  text-decoration: none;
  font-size: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #007CC0;
  font-weight: bold;
}

#owner-submenu .container .owner_list_1 {
  width: 55%;
  border-right: 2px solid #929292;
}

#owner-submenu .container .owner_list_1 li a i {
  margin-right: 20px;
}

#owner-submenu .container .owner_list_2 {
  width: 45%;
}

#owner-submenu .container .owner_list_2 a span {
  margin-left: 10px;
}

#owner-submenu .container .owner_list_2 a i {
  margin-right: 5px;
}

#explore-submenu {
  width: 336px;
  height: 360px;
  position: absolute;
  left: -100px;
  top: 49px;
}

#explore-submenu .container .explore_list {
  height: 100%;
  width: 100%;
}

#explore-submenu .container .explore_list li {
  list-style: none;
  padding: 7px 0 7px 0;
}

#explore-submenu .container .explore_list li a {
  color: #007CC0;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


#vehicles-submenu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

#vehicles-submenu .taskbar {
  position: fixed;
  top: 50px;
  background-color: white;
  height: 30px;
  z-index: 99;
}

#vehicles-submenu .taskbar .bar {
  width: 70%;
  height: 100%;
}

#vehicles-submenu .taskbar .bar a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}

#vehicles-submenu .button-1 {
  background: whitesmoke;
  color: #007cc0;
  border: 2px solid #007cc0;
  border-radius: 20px;
  padding: 0px;
  font-size: 1.2rem;
  font-weight: 500;
  height: 30px;
  width: 90%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#vehicles-submenu .button-1:hover {
  background-color: #007cc0;
  color: whitesmoke;
}

#vehicles-submenu .button-2 {
  background: #007cc0;
  color: #ffffff;
  border: 2px solid #007cc0;
  border-radius: 20px;
  padding: 0px;
  font-size: 1.2rem;
  font-weight: 500;
  height: 30px;
  width: 90%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#vehicles-submenu .button-2:hover {
  background-color: #ffffff;
  color: #007cc0;
}

#vehicles-submenu .vehicle {
  background-color: #F6F6F6;
}

#vehicles-submenu .vehicle .card {
  border: none;
}

#vehicles-submenu .vehicle .card .card-body p {
  font-weight: bold;
  font-size: 1rem;
}

#vehicles-submenu .vehicle .card .card-body p .unit {
  font-weight: 400;
  font-size: 90%;
}

#vehicles-submenu .SUV, #vehicles-submenu .Sedan, #vehicles-submenu .Hatchbacks, #vehicles-submenu .MINIVAN-TRUCK, #vehicles-submenu .ELECTRIFIED, #vehicles-submenu .FUTURE {
  padding-top: 82px;
}

#vehicles-submenu .SUV h4, #vehicles-submenu .Sedan h4, #vehicles-submenu .Hatchbacks h4, #vehicles-submenu .MINIVAN-TRUCK h4, #vehicles-submenu .ELECTRIFIED h4, #vehicles-submenu .FUTURE h4 {
  padding-bottom: 10px;
}

/* FUTURE */
.FUTURE .future-content {
  background-image: url(../img/future.jpg);
  background-size: cover;
}

.FUTURE .future-content .future-logo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.FUTURE .future-content .future-text {
  color: white;
  font-size: 85%;
  margin-top: 10px;
}

.FUTURE .future-content #future-button {
  width: 150px;
}

/* PRE_OWNED */
.PRE-OWNED {
  margin-top: 2%;
  padding-bottom: 5%;
}

.PRE-OWNED .owned-content {
  background-image: url(../img/pre-owner.jpg);
  background-size: cover;
}

.PRE-OWNED .owned-content .owned-logo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.PRE-OWNED .owned-content #owned-button {
  width: 150px;
  margin-top: 30px;
}

/* @media (max-width: 1200px){
    .vehicles-submenu{
        display: none;
    }
} */

.vehicles_lv2, .shopping_lv2,
.owners_lv2, .explore_lv2 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #EEEEEE;
  overflow-x: hidden;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  padding-top: 60px;
}

.back-to-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  margin-top: -3px;
}

.back-to-menu h5 {
  margin: 0 auto;
  color: #007CC0;
  font-size: 2rem;
}

.back-to-menu i {
  font-size: 2rem;
}

.menubar_lv1 {
  height: 200%;
  background-color: #EEEEEE;
}

#mobilenav hr {
  width: 95%;
  margin: 0 auto;
}

#mobilenav li {
  list-style: none;
  padding: 10px 0 10px 30px;
}

#mobilenav a {
  text-decoration: none;
  color: #003273;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.menubar_lv1 a i {
  margin-right: 30px;
}

/* Search-form */
.menubar_lv1 .language_lv1 {
  margin-bottom: 10%;
}

.menubar_lv1 .language_lv1 a .btn-language {
  margin-right: 50px;
}

@media screen and (max-width: 768px) {
  .menubar_lv1 .language_lv1 a .btn-language {
    margin-right: 25px;
  }
}

.menubar_lv1 .language_lv1 a .btn-language .lang_1 {
  background: #007cc0;
  color: white;
  border: 2px solid #007cc0;
  border-radius: 30px;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 40px;
  width: 150px;
  margin-right: 50px;
}

@media screen and (max-width: 768px) {
  .menubar_lv1 .language_lv1 a .btn-language .lang_1 {
    font-size: 1rem;
    width: 100px;
    height: 30px;
    margin-right: 25px;
  }
}

.menubar_lv1 .language_lv1 a .btn-language .lang_1:hover {
  background-color: white;
  color: #007cc0;
}

.menubar_lv1 .language_lv1 a .btn-language .lang_2 {
  background: white;
  color: #007cc0;
  border: 2px solid #007cc0;
  border-radius: 30px;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 40px;
  width: 150px;
}

@media screen and (max-width: 768px) {
  .menubar_lv1 .language_lv1 a .btn-language .lang_2 {
    font-size: 1rem;
    width: 100px;
    height: 30px;
  }
}

.menubar_lv1 .language_lv1 a .btn-language .lang_2:hover {
  color: white;
  background-color: #007cc0;
}

.menubar_lv1 .search-form {
  padding-bottom: 25%;
  width: 70%;
  margin: 0 auto;
}

.menubar_lv1 .search-form #search-bar-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menubar_lv1 .search-form #search-bar-form input {
  -webkit-box-shadow: 10px 0 10px 0 solid black;
          box-shadow: 10px 0 10px 0 solid black;
  border: none;
  width: 90%;
  height: 45px;
  border-radius: 20px;
}

.menubar_lv1 .search-form #search-bar-form input::-webkit-input-placeholder {
  color: #007CC0;
  font-size: 1.7rem;
  padding-left: 20px;
}

.menubar_lv1 .search-form #search-bar-form input:-ms-input-placeholder {
  color: #007CC0;
  font-size: 1.7rem;
  padding-left: 20px;
}

.menubar_lv1 .search-form #search-bar-form input::-ms-input-placeholder {
  color: #007CC0;
  font-size: 1.7rem;
  padding-left: 20px;
}

.menubar_lv1 .search-form #search-bar-form input::placeholder {
  color: #007CC0;
  font-size: 1.7rem;
  padding-left: 20px;
}

.menubar_lv1 .search-form #search-bar-form button {
  font-size: 2rem;
  width: 60px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #007CC0;
  color: white;
  margin-left: -62px;
}


.banner_detail {
  background-color: #F5F5F5;
}

.banner_detail .banner_bg {
  background-color: #00324F;
  height: 150px;
}

@media screen and (max-width: 768px) {
  .banner_detail .banner_bg {
    background-color: #F5F5F5;
  }
}

.banner_detail .banner_content {
  width: 100%;
  height: 320px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .banner_detail .banner_content {
    height: 620px;
  }
}

.banner_detail .banner_content .banner_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -120px;
}

@media screen and (max-width: 768px) {
  .banner_detail .banner_content .banner_area {
    display: block;
    margin-top: -150px;
  }
}

.banner_detail .banner_content .separator {
  width: 0px;
}

.banner_detail .banner_content #banner_1 {
  width: 48%;
  background-image: url(../img/banner-1.png);
  background-size: cover;
  height: 300px;
}

@media screen and (max-width: 768px) {
  .banner_detail .banner_content #banner_1 {
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 10px 1px black;
            box-shadow: 0 0 10px 1px black;
  }
}

.banner_detail .banner_content #banner_1 h3 {
  padding-top: 200px;
  color: white;
}

.banner_detail .banner_content #banner_1 button {
  margin-top: 10px;
  background: #007CC0;
  color: white;
  border: 2px solid #007CC0;
  border-radius: 20px;
  padding: 0;
  width: 100px;
  height: 30px;
  font-size: 1rem;
  -webkit-transform: 0.3s;
          transform: 0.3s;
}

.banner_detail .banner_content #banner_1:hover button {
  background-color: white;
  color: #007CC0;
}

.banner_detail .banner_content #banner_2 {
  width: 48%;
  background-image: url(../img/banner-2.png);
  background-size: cover;
  height: 300px;
}

@media screen and (max-width: 768px) {
  .banner_detail .banner_content #banner_2 {
    width: 100%;
    -webkit-box-shadow: 0 0 10px 1px black;
            box-shadow: 0 0 10px 1px black;
  }
}

.banner_detail .banner_content #banner_2 h3 {
  padding-top: 100px;
  color: white;
}

.banner_detail .banner_content #banner_2 button {
  margin-top: 10px;
  background: white;
  color: #007CC0;
  border: 2px solid #007CC0;
  border-radius: 20px;
  padding: 0;
  width: 100px;
  height: 30px;
  font-size: 1rem;
  -webkit-transform: 0.3s;
          transform: 0.3s;
}

.banner_detail .banner_content #banner_2:hover button {
  background-color: #007CC0;
  color: white;

#vehicles-submenu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

#vehicles-submenu .taskbar {
  position: fixed;
  top: 50px;
  background-color: white;
  height: 30px;
  z-index: 99;
}

#vehicles-submenu .taskbar .bar {
  width: 70%;
  height: 100%;
}

#vehicles-submenu .taskbar .bar a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}

#vehicles-submenu .button-1 {
  background: whitesmoke;
  color: #007cc0;
  border: 2px solid #007cc0;
  border-radius: 20px;
  padding: 0px;
  font-size: 1.2rem;
  font-weight: 500;
  height: 30px;
  width: 90%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#vehicles-submenu .button-1:hover {
  background-color: #007cc0;
  color: whitesmoke;
}

#vehicles-submenu .button-2 {
  background: #007cc0;
  color: #ffffff;
  border: 2px solid #007cc0;
  border-radius: 20px;
  padding: 0px;
  font-size: 1.2rem;
  font-weight: 500;
  height: 30px;
  width: 90%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#vehicles-submenu .button-2:hover {
  background-color: #ffffff;
  color: #007cc0;
}

#vehicles-submenu .vehicle {
  background-color: #F6F6F6;
}

#vehicles-submenu .vehicle .card {
  border: none;
}

#vehicles-submenu .vehicle .card .card-body p {
  font-weight: bold;
  font-size: 1rem;
}

#vehicles-submenu .vehicle .card .card-body p .unit {
  font-weight: 400;
  font-size: 90%;
}

#vehicles-submenu .SUV, #vehicles-submenu .Sedan, #vehicles-submenu .Hatchbacks, #vehicles-submenu .MINIVAN-TRUCK, #vehicles-submenu .ELECTRIFIED, #vehicles-submenu .FUTURE {
  padding-top: 82px;
}

#vehicles-submenu .SUV h4, #vehicles-submenu .Sedan h4, #vehicles-submenu .Hatchbacks h4, #vehicles-submenu .MINIVAN-TRUCK h4, #vehicles-submenu .ELECTRIFIED h4, #vehicles-submenu .FUTURE h4 {
  padding-bottom: 10px;
}

/* FUTURE */
.FUTURE .future-content {
  background-image: url(../img/future.jpg);
  background-size: cover;
}

.FUTURE .future-content .future-logo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.FUTURE .future-content .future-text {
  color: white;
  font-size: 85%;
  margin-top: 10px;
}

.FUTURE .future-content #future-button {
  width: 150px;
}

/* PRE_OWNED */
.PRE-OWNED {
  margin-top: 2%;
  padding-bottom: 5%;
}

.PRE-OWNED .owned-content {
  background-image: url(../img/pre-owner.jpg);
  background-size: cover;
}

.PRE-OWNED .owned-content .owned-logo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.PRE-OWNED .owned-content #owned-button {
  width: 150px;
  margin-top: 30px;
}

/* @media (max-width: 1200px){
    .vehicles-submenu{
        display: none;
    }
} */
footer {
  background-color: #F5F5F5;
  padding-top: 8rem;
}

footer .footer__logo {
  padding: 20px;
  margin: 0 2rem;
  text-align: center;
  border-top: 5px solid #007cc0;
  border-bottom: 1px solid #cfcfcf;
}

footer .footer__contact {
  color: #00324f;
  padding: 20px 0px;
  position: relative;
  border-bottom: 1px solid #cfcfcf;
  margin: 0 2rem;
}

footer .footer__contact p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 600;
}

footer .footer__contact .contact__social .social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__contact .contact__social .social__list a {
  margin: 0 5px;
  width: 2.6rem;
  height: 2.6rem;
  display: block;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #007cc0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__contact .contact__social .social__list a i {
  color: white;
  font-size: 1.4rem;
}

footer .footer__contact .contact__search {
  padding: 20px;
  position: relative;
  margin: auto;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  width: 553px;
}

footer .footer__contact .contact__search input {
  border: 0;
  border-radius: 34.5px;
  -webkit-box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
  color: #00324f;
  font-size: 14px;
  letter-spacing: 0;
  height: 40px;
  padding: 11px 0 9px 45px;
  width: 100%;
}

footer .footer__contact .contact__search input::-webkit-input-placeholder {
  color: #007cc0;
  font-weight: 500;
}

footer .footer__contact .contact__search input:-ms-input-placeholder {
  color: #007cc0;
  font-weight: 500;
}

footer .footer__contact .contact__search input::-ms-input-placeholder {
  color: #007cc0;
  font-weight: 500;
}

footer .footer__contact .contact__search input::placeholder {
  color: #007cc0;
  font-weight: 500;
}

footer .footer__contact .contact__informed button {
  background: #fff;
  color: #007cc0;
  border: 2px solid #007cc0;
  border-radius: 1.95rem;
  padding: 0.6rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 600;
  float: right;
}

footer .footer__contact .contact__informed button:hover {
  background: #007cc0;
  color: #fff;
  border-color: #007cc0;
}

footer .footer__link {
  padding: 3rem 0px 3rem;
  margin: 6rem 2rem;
}

footer .footer__link .link__list .checkbox {
  display: none;
}

footer .footer__link .link__list .list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #00446b;
  margin: 0;
}

footer .footer__link .link__list .list__title h3 {
  font-size: 1.4rem;
  letter-spacing: normal;
  line-height: 1.9rem;
  text-align: left;
  font-weight: 600;
  padding-bottom: 1.3rem;
}

footer .footer__link .link__list .list__title i {
  font-size: 2.3rem;
}

footer .footer__link .link__list .list__title i.add, footer .footer__link .link__list .list__title i.minus {
  display: none;
}

footer .footer__link .link__list ul li {
  list-style-type: none;
  line-height: 2.5rem;
  letter-spacing: .025rem;
}

footer .footer__link .link__list ul li a {
  line-height: 1.5rem;
  color: #00446b;
  font-size: 1.2rem;
  cursor: pointer;
}

footer .footer__policy {
  background-color: #007cc0;
  padding: 2rem;
}

footer .footer__policy p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

footer .footer__policy p a {
  cursor: pointer;
  font-weight: 600;
  color: #fff;
}

footer .footer__policy .policy__info .copyright {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

footer .footer__policy .policy__info .link a + a {
  border-left: 1px solid #fff;
  padding-left: 1rem;
}

footer .footer__policy .policy__info .link a {
  padding-right: 1rem;
  line-height: 2.6rem;
}

footer .footer__policy .policy__info p:last-of-type {
  text-align: right;
}

footer .footer__policy .policy__info p:last-of-type a {
  font-weight: 400;
}

footer .footer__policy .policy__logo {
  padding: 6rem 0;
}

footer .footer__policy .policy__logo .logo {
  width: 10.5%;
  height: 80px;
}

footer .footer__policy .policy__cookie {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .footer__contact {
    margin-bottom: 60px;
  }
  .footer__contact .contact__social {
    margin-top: 20px;
  }
  .footer__contact .contact__search {
    position: absolute !important;
    bottom: -60px !important;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 992px) {
  .footer__link .link__list .list__title {
    border-top: 1px solid !important;
    padding: 1.3rem 0 !important;
    cursor: pointer;
  }
  .footer__link .link__list .list__title h3 {
    padding-bottom: 0 !important;
    margin: 0;
  }
  .footer__link .link__list .list__title .checkbox:checked ~ .title__control i.add {
    display: none;
  }
  .footer__link .link__list .list__title .checkbox:checked ~ .title__control i.minus {
    display: block;
  }
  .footer__link .link__list .list__title .title__control i.add {
    display: block;
  }
  .footer__link .link__list ul li a {
    margin: 10px 0 0 15px;
  }
}

@media screen and (max-width: 768px) {
  .footer__logo {
    border-bottom: none !important;
  }
  .footer__contact {
    padding: 0 !important;
    border-bottom: none !important;
  }
  .footer__contact .contact__informed button {
    width: 100%;
  }
  .footer__contact .contact__social p {
    display: none;
  }
  .footer__contact .contact__search {
    width: 100% !important;
  }
  .footer__policy .policy__info {
    text-align: center;
  }
  .footer__policy .policy__info p:first-of-type {
    font-size: 1rem;
  }
  .footer__policy .policy__info p:last-of-type {
    text-align: center !important;
  }
  .footer__policy .policy__logo {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .footer__policy .policy__logo .logo {
    display: none;
  }
  .footer__policy .policy__logo .logo:first-of-type {
    display: block;
  }
  .footer__policy .policy__cookie {
    width: 100% !important;
    text-align: center;
  }
}

.btn-white {
  background: #fff;
  color: #E42525;
  border: 2px solid #E42525;
  border-radius: 1.95rem;
  padding: 0.6rem 2.4rem 0.6rem;
}

.btn-white:hover {
  background: #E42525;
  color: #fff;
  border-color: #E42525;
}

.btn-red {
  background: #E42525;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 1.95rem;
  padding: 0.6rem 2.4rem 0.6rem;
}

.btn-red:hover {
  background: #fff;
  color: #E42525;
  border-color: #fff;
}

.btn-blue {
  background: #2198DC;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 1.95rem;
  padding: 0.6rem 2.4rem 0.6rem;
}

.btn-blue:hover {
  background: #fff;
  color: #2198DC;
  border-color: #fff;

}

.vehicle {
  width: 100%;
  background-color: whitesmoke;
  position: relative;
  overflow-x: hidden;
}

.vehicle .vehicle__title {
  color: #06456a;
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 3.5rem 2rem 2.5rem;
}

.vehicle .vehicle__listTab {
  position: relative;
}

.vehicle .vehicle__listTab .vehicle__tab {
  width: 90%;
  text-align: center;
  padding: 0.2em 0 2em !important;
  margin: auto;
  overflow-x: scroll;
  white-space: nowrap;
}

.vehicle .vehicle__listTab .vehicle__tab::-webkit-scrollbar {
  display: none;
}

.vehicle .vehicle__listTab .vehicle__tab .tab__item {
  text-decoration: none;
  display: inline-block;
  color: #00324f;
  margin: 0 24px;
  padding: 0;
  min-height: 3rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  cursor: pointer;
  font-weight: 600;
}

.vehicle .vehicle__listTab .vehicle__tab .tab__item.active {
  color: #2198DC;
  border-bottom: 5px solid #2198DC;
}

.vehicle .vehicle__listTab .arrow__left, .vehicle .vehicle__listTab .arrow__right {
  position: absolute;
  top: 0;
  font-size: 1rem;
  cursor: pointer;
  display: none;
}

.vehicle .vehicle__listTab .arrow__left {
  left: 10px;
}

.vehicle .vehicle__listTab .arrow__right {
  right: 10px;
}

.vehicle .vehicle__list {
  width: 100%;
  height: 95vh;
  position: relative;
}

.vehicle .vehicle__list .prevArrow, .vehicle .vehicle__list .nextArrow {
  background: #fff;
  color: #00324f;
  border: white;
  font-size: 3rem;
  z-index: 999;
  position: absolute;
  height: 70px;
  width: 40px;
  overflow: hidden;
  position: absolute;
  margin: auto 0;
  top: 0;
  bottom: 0;
}

.vehicle .vehicle__list .prevArrow:hover, .vehicle .vehicle__list .nextArrow:hover {
  color: #2198DC;
}

.vehicle .vehicle__list .prevArrow {
  border-radius: 0 6px 6px 0;
  left: 0;
}

.vehicle .vehicle__list .nextArrow {
  border-radius: 6px 0 0 6px;
  right: 0;
}

.vehicle .vehicle__list .vehicle__group .vehicle__item {
  position: absolute;
  width: 100vw;
  height: 100%;
  position: absolute;
  background-position: center;
  background-clip: content-box;
  background-size: cover;
  z-index: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.item__info {
  position: absolute;
  height: 100%;
  width: 100%;
}

.item__info .item__count {
  position: absolute;
  top: 0;
  color: #fff;
  padding: 3.8rem 6rem 3.8rem 5.6%;
  text-align: left;
  width: 50%;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: .5px;
  font-weight: 600;
}

.item__info .item__count span:last-of-type {
  font-weight: 400;
}

.item__info .item__detail {
  color: white;
  padding-left: 60px;
  width: 50%;
  height: 100%;
  padding-top: 10rem;
  position: absolute;
  width: 33rem;
}

.item__info .item__detail .item__detail-logo {
  height: 6rem;
}

.item__info .item__detail .item__detail-logo img {
  width: 100%;
  height: 100%;
}

.item__info .item__detail p {
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 2rem 0 1.4rem;
  padding-bottom: 2rem;
}

.item__info .item__detail .item__detail-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem 0;
  padding-bottom: 2rem;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: .5px;
  width: 400px;
}

.item__info .item__detail .item__detail-stats .stats__starting {
  padding-right: 20px;
  min-width: 155px;
}

.item__info .item__detail .item__detail-stats .stats__starting div, .item__info .item__detail .item__detail-stats .stats__rating div {
  font-size: 3.6rem;
  line-height: 5rem;
  font-weight: 200;
  height: 57px;
}

.item__info .item__detail .item__detail-stats .stats__starting span:first-of-type, .item__info .item__detail .item__detail-stats .stats__rating span:first-of-type {
  font-size: 1.2rem;
  font-weight: 600;
}

.item__info .item__detail .item__detail-stats .stats__starting span:last-of-type, .item__info .item__detail .item__detail-stats .stats__rating span:last-of-type {
  color: #007cc0;
}

.item__info .item__detail .item__detail-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 8rem;
}

.item__info .item__detail .item__detail-action a {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  min-height: 3rem;
  min-width: 12rem;
  text-decoration: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.item__info .item__detail .item__detail-action a:first-of-type {
  margin-right: 0.8rem;
}

.item__info .vehicle__action {
  position: absolute;
  height: 7rem;
  padding: 2.5rem 5.6rem;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  width: 50%;
  font-size: 100%;
  font-weight: 600;
  bottom: 0;
  text-decoration: none !important;
}

.item__info .vehicle__action .link {
  color: #f6f6f6;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: left;
}

.item__info .vehicle__action .img {
  bottom: 1.25rem;
  right: 2.5rem;
  top: 1.25rem;
  background-position: 100% 0;
  background-size: contain;
  height: auto;
  left: 1.2rem;
  position: absolute;
  background-repeat: no-repeat;
}

@media screen and (max-width: 992px) {
  .item__detail .item__detail-logo,
  .item__detail p,
  .item__detail .item__detail-stats,
  .item__detail .item__detail-action {
    padding-left: 0 !important;
    width: 75%;
  }
  .item__detail .item__detail-stats {
    width: 100% !important;
  }
  .item__detail .item__detail-stats .stats__starting,
  .item__detail .item__detail-stats .stats__rating {
    min-width: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .vehicle__list {
    height: 90vh !important;
  }
  .vehicle__list .item__detail {
    padding-left: 45px;
  }
  .vehicle__list .item__detail .item__detail-logo {
    padding: 0 2.5rem;
  }
  .vehicle__list .item__detail p {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  .vehicle__list .item__detail .item__detail-stats {
    padding-bottom: 0;
  }
  .vehicle__list .item__detail .item__detail-stats .stats__rating div, .vehicle__list .item__detail .item__detail-stats .stats__starting div {
    font-size: 3rem;
  }
  .vehicle__list .item__count {
    font-size: 1.2rem;
  }
  .vehicle__list .vehicle__action {
    height: 6rem;
    padding: 2rem 4rem 2rem 5.5%;
  }
  .vehicle__list .vehicle__action .link {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .vehicle__title {
    font-size: 3.6rem !important;
  }
  .vehicle__listTab .arrow__left, .vehicle__listTab .arrow__right {
    display: block !important;
  }
  .vehicle__list {
    height: 100vh !important;
  }
  .vehicle__list .prevArrow, .vehicle__list .nextArrow {
    height: 40px !important;
    width: 20px !important;
    font-size: 2rem !important;
  }
  .vehicle__item .item__info {
    width: 100%;
    height: 50%;
    bottom: 0;
  }
  .vehicle__item .item__info .item__count {
    width: 100%;
    text-align: center;
    padding: 1.6rem 0;
  }
  .vehicle__item .item__info .item__detail {
    width: 45%;
    margin: 0 auto;
    right: 0;
    left: 0;
    padding: 0;
    padding-top: 4rem;
  }
  .vehicle__item .item__info .item__detail .item__detail-logo {
    margin: 0 auto;
    padding: 0;
    width: 90%;
  }
  .vehicle__item .item__info .item__detail p {
    display: none;
  }
  .vehicle__item .item__info .item__detail .item__detail-stats {
    margin: 0;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .vehicle__item .item__info .item__detail .item__detail-stats .stats__rating {
    text-align: right;
  }
  .vehicle__item .item__info .item__detail .item__detail-stats .stats__rating div, .vehicle__item .item__info .item__detail .item__detail-stats .stats__starting div {
    font-size: 2.6rem;
    height: 50px;
  }
  .vehicle__item .item__info .vehicle__action {
    width: 100%;
    text-align: center;
  }
  .vehicle__item .item__info .vehicle__action .img {
    display: none;
  }
}

.feature {
  background-color: whitesmoke;
  padding: 6rem 2rem;
}

.feature .feature__card {
  background-color: #fff;
  text-align: center;
  margin: 0.7rem;
  padding: 3rem;
  border-radius: 7px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .feature .feature__card {
    margin: 0.8rem;
    padding: 3rem 1.2rem;
  }
}

.feature .feature__card i {
  color: #00314d;
  font-size: 75px;
}

@media screen and (max-width: 768px) {
  .feature .feature__card i {
    font-size: 65px;
  }
}

.feature .feature__card p {
  font-size: 1.6rem;
  font-weight: 700;
  color: #00314d;
  margin: 2.9rem 0 1.5rem;
  min-height: 0;
}

@media screen and (max-width: 992px) {
  .feature .feature__card p {
    font-size: 1.4rem;
  }
}

.feature .feature__card button {
  background: #007cc0;
  color: white;
  border: 1px solid #007cc0;
  border-radius: 1.95rem;
  padding: 0.8rem 0;
  width: 10rem;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .feature .feature__card button {
    display: none;
  }
}

.feature .feature__card:hover button {
  background-color: #fff;
  border: 1px solid #007cc0;
  color: #007cc0;
}

.discover {
  text-align: center;
  padding-left: 75px;
  padding-right: 75px;
}

@media screen and (max-width: 768px) {
  .discover {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.discover .discover__title {
  margin-top: 2rem;
}

.discover .discover__title h2 {
  margin: auto 6rem 3rem;
  color: #00324f;
  font-weight: 200;
  font-size: 7rem;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  .discover .discover__title h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 35px;
    margin-bottom: 15px;
  }
}

.discover .discover__title p {
  color: #2c517c;
  line-height: 3.5rem;
  font-size: 1.7rem;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .discover .discover__title p {
    line-height: 2rem;
    font-size: 15px;
    margin: auto auto 3rem;
  }
}

@media screen and (max-width: 768px) {
  .discover .discover__card-top .items {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.discover .discover__card-top .items .card__img {
  width: 100%;
  height: 500px;
  margin: 15px;
  -webkit-box-shadow: 0 2px 10px 0 #888;
          box-shadow: 0 2px 10px 0 #888;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 768px) {
  .discover .discover__card-top .items .card__img {
    height: 500px;
  }
}

.discover .discover__card-top .items .card__img .card-img-top img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 768px) {
  .discover .discover__card-top .items .card__img .card-img-top img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.discover .discover__card-top .items .card__img .card-body {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 1px;
  padding: 0 3.4rem 3.4rem;
}

.discover .discover__card-top .items .card__img .card-body h5 {
  font-size: 1.5rem;
  height: 60px;
  color: #00314d;
}

.discover .discover__card-top .items .card__img .card-body p {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2rem;
  padding: 0 2rem;
  color: #00314d;
}

@media screen and (max-width: 768px) {
  .discover .discover__card-top .items .card__img .card-body {
    margin-top: 20px;
    height: 100px;
  }
}

.discover .discover__card-top .items .card__img a {
  margin-bottom: 15px;
  border-radius: 30px;
  font-weight: 600;
  -webkit-transition: all 0s;
  transition: all 0s;
  padding: 1rem 3rem;
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .discover .discover__card-top .items .card__img a {
    padding: 1rem 8rem;
  }
}

.discover .discover__card-top .items .card__img a:hover {
  background-color: #fff;
  color: #007cc0;
  font-weight: 600;
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .discover .discover__card-top .items .card__img a:hover {
    padding: 1rem 8rem;
  }
}

.discover .discover-btn {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 75px;
}

.discover .discover-btn a {
  border-radius: 30px;
  background-color: #E42525;
  border: 2px solid #E42525;
  font-weight: 600;
  -webkit-transition: all 0s;
  transition: all 0s;
  font-size: 1.3rem;
  padding: 1rem 2rem;
}

.discover .discover-btn a:hover {
  background: none;
  border: 2px solid #E42525;
  color: #E42525;
  font-weight: 600;
  font-size: 1.3rem;
}

.certified {
  background-color: whitesmoke;
  text-align: center;
  padding: 0 2rem;
}

.certified .certified__container {
  padding: 0 4rem;
  height: 70vh;
}

.certified .certified_shop,
.certified .certified_guides {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .certified .certified_shop,
  .certified .certified_guides {
    margin: 15px 0;
  }
}

.certified .certified_shop p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  color: white;
  font-size: 1.4rem;
}

.certified .certified_shop:hover button {
  background: none;
  color: #2198DC;
}

.certified button {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 30px;
  min-height: 3rem;
  font-size: 1.4rem;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #2198DC;
  color: #fff;
  border: 2px solid #2198DC;
  padding: 10px 15px;
  border-radius: 30px;
}

.certified .certified_guides .certified_guides-text {
  position: absolute;
  bottom: 90px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  width: 100%;
  padding: 0 40px;
}

.certified .certified_guides .certified_guides-text p,
.certified .certified_guides .certified_guides-text h3 {
  color: white;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 2rem;
}

.certified .certified_guides .certified_guides-text h3 {
  font-weight: 600;
  font-size: 1.6rem;
}

.certified .certified_guides:hover button {
  background: none;
  color: #2198DC;
}


.top__carousel {
  background-color: #00314D;
}

@media screen and (max-width: 768px) {
  .top__carousel {
    background-color: white;
  }
}

.top__carousel .detail .title h1 {
  color: white;
  padding-top: 390px;
}

@media screen and (max-width: 992px) {
  .top__carousel .detail .title h1 {
    padding-top: 340px;
  }
}

@media screen and (max-width: 768px) {
  .top__carousel .detail .title h1 {
    padding-top: 333px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .top__carousel .detail .title h1 {
    padding-top: 320px;
  }
}

.top__carousel .detail .title h6 {
  color: white;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .top__carousel .detail .title h6 {
    margin-top: 10px;
  }
}

.top__carousel .detail .title p {
  color: white;
  font-size: 1.5rem;
}

@media screen and (max-width: 992px) {
  .top__carousel .detail .title p {
    font-size: 1rem;
  }
}

.top__carousel .item__1, .top__carousel .item__2, .top__carousel .item__3, .top__carousel .item__4 {
  width: 100%;
  background-size: cover;
  height: 530px;
}

@media screen and (max-width: 992px) {
  .top__carousel .item__1, .top__carousel .item__2, .top__carousel .item__3, .top__carousel .item__4 {
    height: 470px;
  }
}

@media screen and (max-width: 768px) {
  .top__carousel .item__1, .top__carousel .item__2, .top__carousel .item__3, .top__carousel .item__4 {
    height: 430px;
    background-size: cover;
  }
}

.top__carousel .item__1 {
  background-image: url(../img/carousel-1.1.png);
}

@media screen and (max-width: 768px) {
  .top__carousel .item__1 {
    background-image: url(../img/small-car1.png);
  }
}

.top__carousel .item__2 {
  background-image: url(../img/carousel-1.jpg);
}

@media screen and (max-width: 768px) {
  .top__carousel .item__2 {
    background-image: url(../img/small-car2.png);
  }
}

.top__carousel .item__3 {
  background-image: url(../img/carousel-2.jpg);
}

@media screen and (max-width: 768px) {
  .top__carousel .item__3 {
    background-image: url(../img/small-car3.jpg);
  }
}

.top__carousel .item__4 {
  background-image: url(../img/carousel-3.jpg);
}

@media screen and (max-width: 768px) {
  .top__carousel .item__4 {
    background-image: url(../img/small-car4.png);
  }
}

.button_carousel {
  background: #e42525;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 10px;
  font-size: 1.5rem;
  width: 150px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .button_carousel {
    height: 35px;
    padding: 6px;
    width: 255px;
    margin-top: 5px;
  }
}

.button_carousel:hover {
  background: #fff;
  color: #e42525;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .button_carousel:hover {
    height: 35px;
    padding: 6px;
    width: 255px;
  }
}

#stop__carousel, #play__carousel {
  position: absolute;
  top: 420px;
  right: 50px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  z-index: 50;
  border: none;
  background-color: #00324F;
}

@media screen and (max-width: 992px) {
  #stop__carousel, #play__carousel {
    top: 400px;
    right: 30px;
    height: 60px;
    width: 60px;
  }
}

@media screen and (max-width: 768px) {
  #stop__carousel, #play__carousel {
    top: 340px;
    right: 30px;
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 576px) {
  #stop__carousel, #play__carousel {
    top: 365px;
    right: 25px;
    height: 45px;
    width: 45px;
  }
}

#stop__carousel i, #play__carousel i {
  font-size: 2.5rem;
  color: white;
  border: 2px solid red;
  border-radius: 50%;
  padding: 20%;
}

@media screen and (max-width: 992px) {
  #stop__carousel i, #play__carousel i {
    padding: 17%;
  }
}

@media screen and (max-width: 768px) {
  #stop__carousel i, #play__carousel i {
    font-size: 2rem;
    padding: 15%;
  }
}

#play__carousel {
  display: none;
}

.customNextBtn, .customPrevBtn {
  position: absolute;
  top: 150px;
  border: none;
  z-index: 50;
  height: 100px;
  width: 45px;
  background-color: #e2e2e1b0;
}

@media screen and (max-width: 992px) {
  .customNextBtn, .customPrevBtn {
    top: 200px;
  }
}

@media screen and (max-width: 992px) {
  .customNextBtn, .customPrevBtn {
    height: 70px;
    width: 30px;
  }
}

.customNextBtn i, .customPrevBtn i {
  font-size: 4rem;
  color: #00324F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 992px) {
  .customNextBtn i, .customPrevBtn i {
    font-size: 3rem;
  }
}

.customNextBtn:hover i, .customPrevBtn:hover i {
  color: #007CC0;
}

.customNextBtn {
  right: 0px;
  border-radius: 10px 0 0 10px;
}

.customPrevBtn {
  left: 0px;
  border-radius: 0 10px 10px 0;

.toTop {
  position: fixed;
  right: 0;
  bottom: 100px;
  border: #007cc0;
  background-color: #007cc0;
  border-radius: 8px 0 0 8px;
  height: 50px;
  padding: 12px;
  -webkit-transition: all .4s;
  transition: all .4s;
  width: 50px;
  z-index: 9997;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.toTop i {
  display: block;
  color: #fff;
  font-size: 2rem;

}
/*# sourceMappingURL=main.css.map */