// utils
@import './utils/variables';
@import './utils/mixin';

// base
@import './base/reset';
@import './base/customize';

// components
@import './components/button';
@import './components/animation';
@import './components/sweeptobottom';
// layouts
@import './layouts/header/header';
@import './layouts/header/vehicles-submenu';
@import './layouts/header/mobilemenu';
@import './layouts/footer';

// Pages
@import './pages/Home/carousel';
@import './pages/Home/banner';
@import './pages/Home/vehicle';
@import './pages/Home/feature';
@import './pages/Home/discover';
@import './pages/Home/certified';
@import './pages/Home//topcarousel'
