.vehicle__title{
        color: $blue-04;
        font-size: 6rem;
        line-height: 6rem;
        font-weight: normal !important;
        letter-spacing: 0.1rem;
        text-align: center;
        padding: 3.5rem 2rem 2.5rem;
}

.vehicle{
    width: 100%;
    background-color: $bg-00;
    position: relative;
    overflow-x: hidden;
    & .vehicle__list{
        width: 100%;
        height:500px;
        position: relative;
        & .prevArrow, .nextArrow{
            z-index: 999;
            position: absolute;
            height: 70px;
            width: 40px;
            background-color: #fff;
            overflow: hidden;
            position: absolute;
            margin: auto 0;
            border: white;
            top: 0;
            bottom: 0;
            & i{
                font-size: 3rem;
                color: $blue-03;
                z-index: 2;
            }
        }
        & .prevArrow{
            border-radius: 0 6px 6px 0;
            left: 0;
        }
        & .nextArrow{
            border-radius: 6px 0 0 6px;
            right: 0;
        }
        & .vehicle__group{
            position: absolute;
            height: 400px;
            & .vehicle__item{
                width: 100vw;
                height: 500px;
                position: absolute;
                background-position: center;
                background-size: cover;
                z-index: 0;
                transform: translateX(100%);
            }
            
        }
    }
    .vehicle__tab{
        width: 1312px;
        display: block;
        text-align: center;
        overflow: hidden;
        padding: .2em 0 2em!important;
        margin: auto;
        & .tab__item{
            text-decoration: none;
            display: inline-block;
            color: #00324f;
            margin: 0 24px;
            padding: 0;
            min-height: 3rem;
            font-size: 1.4rem;
            line-height: 1.6rem;
            cursor: pointer;
            font-weight: 600;
            &.active{
                color: $blue-02;
                border-bottom: 5px solid $blue-02;
            }
        }
    }
}


