

.vehicle{
    width: 100%;
    background-color: $bg-00;
    position: relative;
    overflow-x: hidden;
    & .vehicle__title{
        color: $blue-04;
        font-size: 6rem;
        line-height: 6rem;
        font-weight: 200;
        letter-spacing: 0.1rem;
        text-align: center;
        padding: 3.5rem 2rem 2.5rem;
    }

    & .vehicle__listTab{
        position: relative;
        .vehicle__tab{
            width: 90%;
            text-align: center;
            padding: .2em 0 2em!important;
            margin: auto;
            overflow-x: scroll;
            white-space: nowrap;
            &::-webkit-scrollbar {
                display: none;
              }
            & .tab__item{
                text-decoration: none;
                display: inline-block;
                color: #00324f;
                margin: 0 24px;
                padding: 0;
                min-height: 3rem;
                font-size: 1.4rem;
                line-height: 1.6rem;
                cursor: pointer;
                font-weight: 600;
                &.active{
                    color: $blue-02;
                    border-bottom: 5px solid $blue-02;
                }
            }
        }
        .arrow__left, .arrow__right{
            position: absolute;
            top:0;
            font-size: 1rem;
            cursor: pointer;
        }

        .arrow__left{
            left: 10px;
        }
        .arrow__right{
            right: 10px
        }
    }
    & .vehicle__list{
        width: 100%;
        height:95vh;
        position: relative;
        & .prevArrow, .nextArrow{
            @include controlButton(#fff, $blue-03, white, 3rem, $blue-02);
            z-index: 999;
            position: absolute;
            height: 70px;
            width: 40px;
            overflow: hidden;
            position: absolute;
            margin: auto 0;
            top: 0;
            bottom: 0;
        }
        & .prevArrow{
            border-radius: 0 6px 6px 0;
            left: 0;
        }
        & .nextArrow{
            border-radius: 6px 0 0 6px;
            right: 0;
        }
        & .vehicle__group{
            & .vehicle__item{
                position: absolute;
                width: 100vw;
                height: 100%;
                position: absolute;
                background-position: center;
                background-clip: content-box;
                background-size: cover;
                z-index: 0;
                transform: translateX(100%);
            }
            
        }
    }
    
}

.item__info{
    position: absolute;
    height: 100%;
    width: 100%;
    .item__count{
        position: absolute;
        top: 0;
        color: #fff;
        padding: 3.8rem 6rem 3.8rem 5.6%;
        text-align: left;
        width: 50%;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: .5px;
        font-weight: 600;
        & span{
            &:last-of-type{
                font-weight: 400;
            }
        }
    }
    .item__detail{
        color: white;
        padding-left: 60px;
        width: 50%;
        height: 100%;
        padding-top: 10rem;
        position: absolute;
        width: 33rem;
        & .item__detail-logo{
            height: 6rem;
            & img{
                width: 100%;
                height: 100%;
            }
        }
        & p{
            font-size: 1.4rem;
            line-height: 2rem;
            padding: 2rem 0 1.4rem;
            padding-bottom: 2rem;
        }
        & .item__detail-stats{
            display: flex;
            padding: .5rem 0;
            padding-bottom: 2rem;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: .5px;
            width: 400px;
            .stats__starting{
                padding-right: 20px;
                min-width: 155px;
            }
    
            .stats__starting, .stats__rating{
                & div{
                    font-size: 3.6rem;
                    line-height: 5rem;
                    font-weight: 200;
                    height: 57px;
                }
    
                & span{
                    &:first-of-type{
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                    &:last-of-type{
                        color: $blue-01;
                    }
                }
            }
        }
        & .item__detail-action{
            display: flex;
            padding-right: 8rem;
            & a{
                margin-top: 1rem;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 600;
                min-height: 3rem;
                min-width: 12rem;
                text-decoration: none;
                flex: 1;
                transition: all 0.5s;
                &:first-of-type{
                    @include button_vehicle($red-00, #fff, 2px solid #fff, 1.95rem, .6rem 2.4rem .6rem);
                    margin-right: 0.8rem;
                }
                &:last-of-type{
                    @include button_vehicle(#fff, $red-00 , 2px solid $red-00 , 1.95rem, .6rem 2.4rem .6rem);
                }
            }
        }
    }
    
    .vehicle__action{
        position: absolute;
        height: 7rem;
        padding: 2.5rem 5.6rem;
        border-top: 2px solid hsla(0,0%,100%,.2);
        width: 50%;
        font-size: 100%;
        font-weight: 600;
        bottom: 0;
        text-decoration: none !important;
        & .link{
            color: rgb(246, 246, 246);
            font-size: 1.4rem;
            line-height: 1.8rem;
            text-align: left;
        }
        & .img{
            bottom: 1.25rem;
            right: 2.5rem;
            top: 1.25rem;
            background-position: 100% 0;
            background-size: contain;
            height: auto;
            left: 1.2rem;
            position: absolute;
            background-repeat: no-repeat;
        }
    }
}

@include responsive('medium'){
    .item__detail{
        .item__detail-logo,
        p,
        .item__detail-stats,
        .item__detail-action{
            padding-left: 0 !important;
            width: 75%;
        }
        .item__detail-stats{
            width: 100% !important;
            & .stats__starting,
            .stats__rating{
                min-width: 100px;
            }
        }
    }
    
}
@include responsive('large'){
    .vehicle__list{
        height: 90vh !important;
        .item__detail{
            padding-left: 45px;
            .item__detail-logo{
                padding: 0 2.5rem;
            }
            p{
                font-size: 1.2rem;
                margin-bottom: 0;
            }
            
            .item__detail-stats{
                padding-bottom: 0;
                & .stats__rating, .stats__starting{
                    & div{
    
                        font-size: 3rem;
                    }
                }
                
            }
        }
        .item__count{
            font-size: 1.2rem;
        }
        .vehicle__action{
            height: 6rem;
            padding: 2rem 4rem 2rem 5.5%;
            & .link{
                font-size: 1.2rem;
            }
        }
    }
    
    
}


@include responsive('small'){
    .vehicle__title{
        font-size: 3.6rem !important;
    }
    .vehicle__list{
        height: 100vh !important;
        & .prevArrow, .nextArrow{
            height: 40px !important;
            width: 20px !important;
            font-size: 2rem !important;
        }
    }

    .vehicle__item{
        .item__info{
            width: 100%;
            height: 50%;
            bottom: 0;
            .item__count{
                width: 100%;
                text-align: center;
                padding: 1.6rem 0;
            }
            .item__detail{
                width: 45%;
                margin: 0 auto;
                right: 0;
                left: 0;
                padding: 0;
                padding-top: 4rem;
                .item__detail-logo{
                    margin: 0 auto;
                    padding: 0;
                    width: 90%;
                }

                p{
                    display: none;
                }

                .item__detail-stats{
                    margin: 0;
                    width: 100%;
                    justify-content: space-between;
                    
                    .stats__rating{
                        text-align: right;
                    }

                    .stats__rating, .stats__starting{
                        div{
                            font-size: 2.6rem;  
                            height: 50px;
                        }
                    }
                }
            }

            .vehicle__action{
                width: 100%;
                text-align: center;
                .img{
                    display: none;
                }
            }
        }
    }
}

.slick-prev:before, .slick-next:before { 
    font-family: 'Font Awesome\ 5 Free';
    color: black;
    font-weight: 900;
}

.slick-prev:before{
    content: "\f053";
}

.slick-next:before{
    content: "\f054";
}