@mixin button($bg, $color, $border, $rounded, $padding) {
    background: $bg;
    color: $color;
    border: $border;
    border-radius: $rounded;
    padding: $padding;
}

@mixin  controlButton($bg, $color, $border,$size, $color-hv) {
    background: $bg;
    color: $color;
    border: $border;
    font-size: $size;
    &:hover{
        color: $color-hv;
    }
}

@mixin button_vehicle($bg, $color, $border, $rounded, $padding) {
    background: $bg;
    color: $color;
    border: $border;
    border-radius: $rounded;
    padding: $padding;
    &:hover{
        background: $color;
        color: $bg;
        border-color: $color;
    }
}

