* {
  padding: 0;
  margin: 0 ;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  scroll-behavior: smooth;
}

[class*='col-']{
  padding-right:0;
  padding-left:0;
}

.row{
  margin: 0
}
