// variable color

// background
$bg-00: rgb(245, 245, 245);

$blue-00: #00314d;
$blue-01: #007cc0;
$blue-02: #2198DC;


//break points
$breakpoints: (
  'large': 1024px,
  'medium': 992px,
  'small': 768px,
  'x-small': 576px,
);
